<page xmlns="http://projectmallard.org/1.0/"
      type="topic"
            id="intro">

  <info>
    <link type="guide" xref="index#main" group="#first"/>
    <revision pkgversion="0.7" date="2017-07-30" status="candidate"/>
    <credit type="author copyright">
      <name>Ole Aamot</name>
      <email>ole@src.gnome.org</email>
    </credit>
    
    <include href="legal.xml" xmlns="http://www.w3.org/2001/XInclude"/>    

    <desc>GNOME Internet Radio Locator for GNOME 3 lets you locate Internet radio stations around the world.</desc>

  </info>

  <title>Intro</title>
  
  <p><app>GNOME Internet Radio Locator for GNOME 3</app> is a free
  program for listening to free, independent, non-profit radio
  stations from around the world by streaming over the Internet.</p>

  <title>
    <media type="image" mime="image/png" src="media/gnome-internet-radio-locator-main.png" />
  </title>
  
</page>